<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Portfolio</title>
</head>
<body>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
            <li> {{ message }}</li>
        {% endfor %}
      </ul>
        {% endif %}
  <nav class="bg-yellow-500 text-black px-4 sm:px-10 md:px-20 py-5">
    <div class="flex justify-between items-center">
      <div class="font-bold text-lg">Anik</div>
      <ul class="flex gap-10">
        <li><a class="hover:bg-white px-3 py-1 rounded-md" href="#home">Home</a></li>
        <li><a class="hover:bg-white px-3 py-1 rounded-md" href="#about">About</a></li>
        <li><a class="hover:bg-white px-3 py-1 rounded-md" href="#resume">Resume</a></li>
        <li><a class="hover:bg-white px-3 py-1 rounded-md" href="#contact">Contact</a></li>
      </ul>
      <div class="flex gap-2">
        <input class="rounded-sm px-2 py-1" type="text" placeholder="Search...">
        <button class="bg-gray-200 rounded-sm px-4 py-1">Search</button>
      </div>
    </div>
  </nav>

    <div class="flex container mx-auto justify-center items-center">
      <div>
        <div class="py-2 px-4 py-6 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
          <img class="h-[300px] w-[600px]"
            src="{% static 'anik.jpg' %}" alt="">
        </div>
      </div>

      <div class="">
        <div class="flex flex-col justify-between">
          <h2 class="text-xl font-semibold">Md Arifur rahman Anik</h2>
          <p class="text-gray-600">Python developer</p>
          <div class="mt-4">
            <a href="{% static 'Md Arifur Rahman Anik.pdf' %}"
              class="inline-block py-2 px-4 bg-teal-500 text-white rounded-lg hover:bg-teal-600 transition duration-200">
              Download CV
            </a>
          </div>
        </div>
      </div>
    </div>

  <main class="bg-gray-100 p-10 grid grid-cols-1 md:grid-cols-3 gap-6 text-black">
    <article id="about" class="bg-white p-5 rounded-md shadow-sm">
      <h3 class="text-red-500 text-xl mb-3">Who am I?</h3>
      <h5 class="text-left mt-3">An AI/ML and DevOps developer Located In Our Lovely Earth.</h5>
      <p class="mt-4">I’m a Python developer with over 2 years of experience specializing in Machine Learning and
        Natural Language Processing (NLP). I have a passion for solving real-world problems through technology and
        creating
        efficient solutions using the power of Python and Django.
      </p>
    </article>

    <article class="bg-white p-5 rounded-md shadow-sm">
      <h3 class="text-red-500 text-xl mb-3">Personal Info</h3>
      <ul>
        <li class="mt-3"><strong>Birthdate</strong>: 22/08/1999</li>
        <li class="mt-3"><strong>Email</strong>: aniklpu01@gmail.com</li>
        <li class="mt-3"><strong>Phone</strong>: +8801627220072</li>
        <li class="mt-3"><strong>Skype</strong>: Anik007</li>
        <li class="mt-3"><strong>Address</strong>: Nikunja 2, Khilkhet, Dhaka, Bangladesh</li>
      </ul>
    </article>

    <article class="bg-white p-5 rounded-md shadow-sm">
      <h3 class="text-red-500 text-xl mb-3">My Expertise</h3>
      <div class="mb-4">
        <h6 class="font-bold">Machine Learning</h6>
        <p>Advanced techniques, predictive models, and data precision.</p>
        <hr class="my-2">
      </div>
      <div class="mb-4">
        <h6 class="font-bold">API Development</h6>
        <p>Building robust endpoints, ensuring seamless data flow, and optimizing response times.</p>
        <hr class="my-2">
      </div>
      <div class="mb-4">
        <h6 class="font-bold">DevOps</h6>
        <p>Automating workflows, enhancing deployment pipelines, and ensuring system reliability.</p>
        <hr class="my-2">
      </div>
    </article>
  </main>
  <main>
    <div id="resume" class="container mx-auto px-5">
      <h2 class="text-2xl font-semibold mb-5 text-center">
        <span class="text-red-500 ">My Resume</span>
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

        <!-- Expertise Card -->
        <div class="card bg-white rounded-lg shadow-md overflow-hidden">
          <div class="card-header bg-gray-100 p-4">
            <h4 class="text-lg font-semibold">Expertise</h4>
            <span class="block h-1 w-16 bg-red-500 mt-2"></span>
          </div>
          <div class="card-body p-4">
            <h6 class="title text-red-500 font-semibold">October 2023 - Present</h6>
            <p>Python Developer</p>
            <p class="subtitle text-gray-700">
              At Jobdesk Bangladesh, I deploy Python apps on Nginx and Apache, optimize CI/CD with Docker, and develop
              APIs
              for document processing and job data.
            </p>
            <hr class="my-4">
            <h6 class="title text-red-500 font-semibold">November 2022 - May 2023</h6>
            <p>Junior Machine Learning Engineer</p>
            <p class="subtitle text-gray-700">
              At JobXprss Limited, I automated the scraping of 15,000 e-commerce products, improving data accuracy and
              platform efficiency.
            </p>
            <hr class="my-4">
            <h6 class="title text-red-500 font-semibold">November 2021 - May 2022</h6>
            <p>Junior Machine Learning Engineer (Intern)</p>
            <p class="subtitle text-gray-700">
              At Ishraak Solutions, I trained image detection models, enhancing object recognition accuracy and
              optimizing
              deployment processes.
            </p>
          </div>
        </div>

        <!-- Education Card -->
        <div class="card bg-white rounded-lg shadow-md overflow-hidden">
          <div class="card-header bg-gray-100 p-4">
            <h4 class="text-lg font-semibold">Education</h4>
            <span class="block h-1 w-16 bg-red-500 mt-2"></span>
          </div>
          <div class="card-body p-4">
            <h6 class="title text-red-500 font-semibold">2018 - 2022</h6>
            <p>BTech, Computer Science and Engineering</p>
            <p class="subtitle text-gray-700">
              Focused on software development, data structures, and machine learning, gaining hands-on experience in
              various
              projects.
            </p>
            <hr class="my-4">
            <h6 class="title text-red-500 font-semibold">2015 - 2017</h6>
            <p>Diploma in Computer Engineering</p>
            <hr class="my-4">
            <h6 class="title text-red-500 font-semibold">2015</h6>
            <p>High School Degree</p>
          </div>
        </div>

        <!-- Skills Card -->
        <div class="card bg-white rounded-lg shadow-md overflow-hidden">
          <div class="card-header bg-gray-100 p-4">
            <h4 class="text-lg font-semibold">Skills</h4>
            <span class="block h-1 w-16 bg-red-500 mt-2"></span>
          </div>
          <div class="card-body p-4">
            <!-- Skill Progress Bars -->
            <div class="mb-4">
              <h6 class="font-semibold">Python &amp; MySql &amp; PostgresSql</h6>
              <div class="w-full bg-gray-200 rounded-full h-3 mb-3">
                <div class="bg-red-500 h-3 rounded-full" style="width: 97%"></div>
              </div>
            </div>

            <div class="mb-4">
              <h6 class="font-semibold">Tensorflow, Keras, PyTorch, Scikit-Learn, BERT</h6>
              <div class="w-full bg-gray-200 rounded-full h-3 mb-3">
                <div class="bg-red-500 h-3 rounded-full" style="width: 85%"></div>
              </div>
            </div>

            <div class="mb-4">
              <h6 class="font-semibold">LLMs, NLP, OpenCV, ML Models, Text Classification</h6>
              <div class="w-full bg-gray-200 rounded-full h-3 mb-3">
                <div class="bg-red-500 h-3 rounded-full" style="width: 80%"></div>
              </div>
            </div>

            <div class="mb-4">
              <h6 class="font-semibold">Docker, Kubernetes, Nginx, CI/CD, Jenkins, ArgoCD, Git</h6>
              <div class="w-full bg-gray-200 rounded-full h-3 mb-3">
                <div class="bg-red-500 h-3 rounded-full" style="width: 90%"></div>
              </div>
            </div>

            <div class="mb-4">
              <h6 class="font-semibold">Docker Compose, LangChain, OpenAI</h6>
              <div class="w-full bg-gray-200 rounded-full h-3 mb-3">
                <div class="bg-red-500 h-3 rounded-full" style="width: 90%"></div>
              </div>
            </div>

            <div class="mb-4">
              <h6 class="font-semibold">Elasticsearch, Load Balancing, Monitoring</h6>
              <div class="w-full bg-gray-200 rounded-full h-3 mb-3">
                <div class="bg-red-500 h-3 rounded-full" style="width: 90%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap justify-center">
    {% for project in projects %}
    <div class="relative flex flex-col items-center bg-gray-100 p-5 rounded-lg shadow-md">
        <div class="{{ project.icon_class }} text-3xl mb-2 text-teal-500"></div>
        <div class="mt-3 text-center font-semibold text-lg text-gray-800">
            {{ project.name }}
        </div>
        <div class="py-5 rounded-md bg-white shadow-lg">
            {% if project.image %}
                <img class="h-[100px] w-[100px] rounded-lg border-2 border-teal-500 shadow-md"
                     src="{{ project.image.url }}" alt="{{ project.name }}">
            {% else %}
                <img class="h-[100px] w-[100px] rounded-lg border-2 border-teal-500 shadow-md"
                     src="/static/default_image.jpg" alt="{{ project.name }}">
            {% endif %}
         <a href="{% url 'project_details' project.id %}">
            <button class="bg-sky-500 text-center mt-2 text-white p-2 rounded-lg hover:bg-red-600 hover:text-black w-full">
                Show
            </button>
        </a>

        </div>
    </div>
    {% endfor %}
    </div>

      <div>
        <div class="bg-slate-500 text-center p-10">Contact Me
        </div>
      </div>

      <div>
        <div id="contact" class="max-w-7xl mx-auto px-4 py-8">
          <div class="flex flex-col lg:flex-row gap-8">
            <!-- Contact Form Card -->
            <div class="bg-white rounded-lg shadow-md p-6 flex-1">
              <h4 class="text-xl font-semibold text-gray-700 mb-4">Send a message</h4>
              <form action="/contact/" method="POST" class="space-y-4">
                {% csrf_token %}
                <div>
                  <label for="name" class="block text-lg font-medium text-gray-700">Name</label>
                  <input type="text"
                    class="mt-1 block w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-400"
                    id="name" name="name" placeholder="Enter your name" required>
                </div>

                <div>
                  <label for="email" class="block text-lg font-medium text-gray-700">Email address</label>
                  <input type="email"
                    class="mt-1 block w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-400"
                    id="email" name="email" placeholder="Enter your email" required>
                </div>

                <div>
                  <label for="message" class="block text-lg font-medium text-gray-700">Write your message</label>
                  <textarea
                    class="mt-1 block w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-teal-400"
                    id="message" name="message" rows="4" placeholder="Your message" required></textarea>
                </div>

                <div>
                  <button type="submit"
                    class="w-full py-2 px-4 bg-teal-500 text-white rounded-lg hover:bg-yellow-600 transition">Send
                    Message</button>
                </div>
              </form>
            </div>

            <!-- Contact Info Card -->
            <div class="bg-white rounded-lg shadow-md p-6 flex-1">
              <h4 class="text-xl font-semibold text-gray-700 mb-4">Get in touch</h4>
              <div class="flex items-start mb-4">
                <i class="ti-mobile text-teal-500 text-2xl mr-2"></i>
                <div>
                  <h6 class="text-lg">Phone:</h6>
                  <span class="text-gray-600">+8801627220072</span>
                </div>
              </div>
              <div class="flex items-start mb-4">
                <i class="ti-map-alt text-teal-500 text-2xl mr-2"></i>
                <div>
                  <h6 class="text-lg">Address:</h6>
                  <span class="text-gray-600">Nikunja 2, Khilkhet, Dhaka, Bangladesh</span>
                </div>
              </div>
              <div class="flex items-start mb-4">
                <i class="ti-envelope text-teal-500 text-2xl mr-2"></i>
                <div>
                  <h6 class="text-lg">Email:</h6>
                  <span class="text-gray-600">aniklpu01@gmail.com</span>
                </div>
              </div>

              <div class="bg-white rounded-lg shadow-md p-6 flex-1">
                <h4 class="text-xl font-semibold text-gray-700 mb-4">Get in touch</h4>
                <div class="flex items-center mt-6">
                  <h6 class="text-lg font-semibold mr-2">GitHub:</h6>
                  <a class="text-red-500" href="https://github.com/anik007-code" target="_blank"
                    rel="noopener noreferrer">
                    <i class="fab fa-github"></i> Here
                  </a>
                </div>
                <div class="flex items-center mt-6">
                  <h6 class="text-lg font-semibold mr-2">LinkedIn:</h6>
                  <a class="text-red-500" href="https://www.linkedin.com/in/md-arifur-rahman-anik-a32232172/"
                    target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin"></i> Here
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="p-4 bg-yellow-500 text-center">
        Created by @Anik
      </footer>
  </main>
</body>

</html>