<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.name }} - Details</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.3/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-500">

    <section class="section py-12">
        <div class="container mx-auto max-w-4xl bg-white shadow-lg rounded-lg overflow-hidden">
            <!-- Image Section -->
            {% if project.image %}
                <img src="{{ project.image.url }}" alt="{{ project.name }}" class="max-w-full max-h-full object-contain">
            {% else %}
                <img src="{% static 'default_image.jpg' %}" alt="{{ project.name }}" class="max-w-full max-h-full object-contain">
            {% endif %}

            <!-- Content Section -->
            <div class="p-8">
                <h2 class="text-4xl font-extrabold text-gray-800 mb-4 text-center">{{ project.name }}</h2>

                <div class="richtext-content text-gray-700 leading-relaxed text-lg mb-6 text-center">
                    {{ project.description|safe }}
                </div>

                <div class="flex justify-center">
                    <a href="{% url 'home' %}" class="inline-block bg-blue-500 text-white py-3 px-6 rounded-lg text-lg font-semibold shadow-md hover:bg-blue-600 focus:outline-none">
                        Back
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
